#content_section {
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.card-fixed-height {
    width: 18rem;
    height: 540px;
    display: flex;
    flex-direction: column;
}

.card-fixed-height:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    border-color: #ffdc74;
    transition: 0.3s ease;
}

.card-img-fixed {
    height: 400px;
    object-fit: cover;
}

.card-body {
    flex-grow: 1;
    padding: 20px;
}
